

li {
  display: inline-block;
  vertical-align: top;
}

.supply {
  margin: 0 auto;
  text-align: center;
}

.kingdom_card_img {
  max-width: 100%;
  height: auto;
}

.kingdom_card {
  width: 120px;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}